.signup-button:hover {
  background-color: green;
}

:host ::ng-deep input:focus, input:focus-visible {
  outline: none!important;
}

:host ::ng-deep .p-inputtext {
  /* border: 2px solid yellow; */
  background-color: #171717;
  color: rgb(176, 176, 176);
  /* height: 2.5rem; */
  border: none;
  width: 100%;
}



:host ::ng-deep .p-inputtext:focus, .p-inputtext:focus-visible {
  outline: none!important;
  border: 0!important;
  box-shadow: none!important;
}

:host ::ng-deep .p-password-panel {
  background-color: #616161;
  color: white;
  width: 10rem!important;
}

:host ::ng-deep .p-password{
  display: flex;
}

.error {
  color: #ff6565;
}

.success {
  color: rgb(92, 255, 92);
}


