<main class="flex flex-col h-screen w-full justify-center p-2" style="border: 4px  yellow; background-color: #171717;">
  <h2 class="text-center text-lg text-white">Restablece tu contraseña</h2>
  <section class="flex flex-col w-full self-center justify-center rounded-md p-2 sm:w-3/4 lg:w-1/2 xl:w-2/5 2xl:w-1/3" style="border: 2px  #DA0037; background-color: #2B2E33;">
      <section *ngIf="!codeRequested" class="flex flex-col shrink-0 gap-4 pt-2 pb-2 justify-evenly" style="border: 2px  red;">
        <span class="text-gray-400 text-sm">Se enviará un código a tu correo para validar tu identidad</span>
        <p-floatLabel class="pt-3" style="border: 2px  yellow;">
          <input pInputText id="email" [(ngModel)]="userIdentifier" />
          <label for="email">Número celular, correo o nombre de usuario</label>
        </p-floatLabel>
        <button (click)="requestCode()" class="w-32 self-center h-9 bg-red-600 text-white" style="border-radius: 4px; border: 2px  green;">Continuar</button>
      </section>
      <section *ngIf="codeRequested && !codeSent" class="flex flex-col w-full self-center items-center justify-center gap-4 rounded-md p-3 sm:w-3/4 lg:w-1/2 xl:w-2/5 2xl:w-1/3" style="border: 2px  #DA0037; background-color: #2B2E33;">
        <p class="text-white text-center mt-2">Ingresa el código de verificación que te enviamos a tu correo electrónico</p>
        <p-inputOtp [(ngModel)]="code" [length]="6"/>
        <div class="flex items-center justify-between w-full" style="border: 2px  green;">
          <a (click)="requestCode()" class="text-white hover:text-gray-300 cursor-pointer" style="border: 2px  purple;">Reenviar Código</a>
          <button (click)="sendCode()" class="w-32 h-9 p-1 bg-red-600 text-white" style="border-radius: 4px; border: 2px  green;">Verificar Código</button>
        </div>
      </section>
      <form *ngIf="codeSuccess" class="flex flex-col shrink-0 gap-4 pt-2 pb-2 justify-evenly" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" style="border: 2px  red;">
        <span class="text-gray-400 text-sm">Ingresa tu nueva contraseña:</span>
        <div class="flex flex-col gap-7 justify-between">
          <p-floatLabel class="w-full pt-2" style="border: 2px  green;">
              <p-password formControlName="password" [toggleMask]="true" [style]="{'width':'100%'}">
                <ng-template pTemplate="content"></ng-template>
                <ng-template pTemplate="footer">
                    <p>Se requiere que la contraseña:</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li class="error" [class.success]="upperCase">Al menos tenga una letra mayúscula</li>
                      <li class="error" [class.success]="lowerCase">Al menos tenga una letra minúscula</li>
                      <li class="error" [class.success]="number">Al menos un número</li>
                      <li class="error" [class.success]="specialChar">Al menos un carácter especial (!&#64;#$%^&*)</li>
                      <li class="error" [class.success]="length">Tenga una longitud mínima de 8 caracteres</li>
                    </ul>
                </ng-template>
            </p-password>
            <label for="password">Contraseña*</label>
          </p-floatLabel>
          <p-floatLabel class="w-full" style="border: 2px  yellow;">
            <p-password formControlName="confirmedPassword" [toggleMask]="true" [feedback]="false" [style]="{'width':'100%'}"/>
            <label for="confirmedPassword">Confirmar contraseña*</label>
          </p-floatLabel>
        </div>
        <button type="submit" class="w-32 self-center h-9 bg-red-600 text-white" style="border-radius: 4px; border: 2px  green;">Continuar</button>
      </form>
  </section>
</main>
<p-toast position="top-center" [breakpoints]="{'390px': { width: '75%'}}"/>
