.selected {
    outline: solid 2px #fff;
    /* outline-offset: 2px; */
}

:host ::ng-deep input:focus, input:focus-visible {
  outline: none!important;
}

:host ::ng-deep .p-inputtext {
  /* border: 2px solid yellow; */
  background-color: #171717;
  color: rgb(176, 176, 176);
  /* height: 2.5rem; */
  border: none;
  width: 100%;
}
:host ::ng-deep .p-inputtext::placeholder {
  color: rgb(176, 176, 176);
}
:host ::ng-deep .p-inputtext:focus, .p-inputtext:focus-visible {
  outline: none!important;
  border: 0!important;
  box-shadow: none!important;
}

:host ::ng-deep .p-textarea {
  /* border: 2px solid yellow; */
  background-color: #171717;
  color: rgb(176, 176, 176);
  /* height: 2.5rem; */
  border: none;
  width: 100%;
}
